aiofiles==0.5.0
aiosqlite==0.15.0
altgraph==0.17.2
asttokens==2.0.5
asyncua==0.9.94
atomicwrites==1.4.1
attrs==21.4.0
auto-py-to-exe==2.20.1
autopep8==1.6.0
backcall==0.2.0
bottle==0.12.21
bottle-websocket==0.2.9
certifi==2022.6.15
cffi==1.14.2
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.4
cryptography==37.0.2
customtkinter==4.5.5
cycler==0.11.0
darkdetect==0.6.0
decorator==5.1.1
docopt==0.6.2
Eel==0.14.0
engineering-notation==0.6.0
executing==0.8.3
fonttools==4.33.3
future==0.18.2
geocoder==1.38.1
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
guizero==1.3.0
idna==3.3
iniconfig==1.1.1
ipython==8.4.0
iso8601==1.0.2
jedi==0.18.1
kiwisolver==1.4.3
lxml==4.9.0
matplotlib==3.5.2
matplotlib-inline==0.1.3
numpy==1.22.4
opcua==0.98.13
opcua-client==0.8.4
opcua-modeler==0.5.14
opcua-widgets==0.6.1
opencv-python==4.5.3.56
packaging==21.3
pandas==1.4.2
parso==0.8.3
pefile==2022.5.30
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.11
pluggy==1.0.0
prompt-toolkit==2.0.10
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pyglet==1.5.26
Pygments==2.12.0
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyqtgraph==0.12.4
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
pywin32==304
pywin32-ctypes==0.2.0
PyYAML==6.0
ratelim==0.1.6
requests==2.28.1
serial==0.0.97
six==1.16.0
sortedcontainers==2.4.0
spotipy==2.3.8
stack-data==0.2.0
sv-ttk==1.0
terminal==0.1
tk-tools==0.16.0
tkintermapview==1.12
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
traitlets==5.2.2.post1
ttkthemes==3.2.2
ttkwidgets==0.12.1
typing_extensions==4.2.0
urllib3==1.26.9
utils==1.0.1
wcwidth==0.2.5
wget==3.2
whichcraft==0.6.1
xmodem==0.4.6
yarg==0.1.9
zope.event==4.5.0
zope.interface==5.4.0
